body {
    margin: 0;
}

.list-bg {
    background: rgb(249, 250, 255);
    padding: 10px;
}

.list-item {
    background: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 5px;
    box-shadow: rgb(224, 224, 224) 0px 2px 4px 0px;
}

.list-item h4 {
    font-size: 20px;
    font-weight: 800;
    margin: 0;
}

.list-item p {
    color: grey;
    margin: 5px 0px;
}

.p-20 {
    padding: 20px;
}

input {
    box-sizing: border-box;
    padding: 10px;
    display: block;
    margin-bottom: 10px;
}

button {
    padding: 5px 10px;
    background: lightgray;
    border: none;
    font-size: 10px;
    border-radius: 5px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

.navbar {
    background: white;
    padding: 20px;
    display: flex;
    align-items: center;
}

.navbar a {
    margin-right: 10px;
    text-decoration: none;
    color: black;
}

.logo {
    font-weight: bold;
}

.list-item {
    opacity: 1;
    transition: all 1s;
}

.nav-sub {
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.nav-sub>div {
    font-size: 5px;
    margin-right: 5px;
}

.set-btn {
    background-color: lightgray;
    margin-right: 5px;
    font-size: 4px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.det-title {
    /* background-color: red; */
    padding: 3px;
    border: 2px solid gray;
    border-radius: 5px;
}

.det-content {
    padding: 3px;
    border: 2px solid gray;
    border-radius: 5px;
    font-size: 10px;
    height: 200px;
    background-color: aliceblue;
}

.com-title {
    font-size: 13px;
    padding: 3px;
}

.com-content {
    padding: 3px;
    /* background-color: red; */
    /* border-radius: 5px; */
}